* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #1c1c1c;
  }

  .menu-container {
    color: #fff;
    background-color: #1c1c1c;  
    padding: 2vw;
    display: flex;
    justify-content: flex-end;
  }
  .menu {
    border: none;
    min-width: 60vw;
    display: flex;
    justify-content: space-around;
  }

  .header-container {
    color: rgb(255, 239, 249);
    background-color: #1c1c1c;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .header {
    min-height: 5vw;
  
    justify-content: center;
    align-items: center;
  }
  .greeting {
    padding: 1vw;
    padding-top: 10vw;
    min-height: 10vw;

  }
  .greeting2 {
    padding: 1vw;
    padding-bottom: 20vw;

  }
  .title-container {
    color: rgb(255, 239, 249);
    background-color: #1c1c1c;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .title {
    padding: 1vw;
    padding-top: 2vw;
    padding-left: 2vw;
    min-height: 10vw;
    max-width: 70vw;

  }
  .list-container {
    color: rgb(255, 239, 249);
    background-color: #1c1c1c;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .list {
   
    padding-left: 3vw;
    min-height: 10vw;
    max-width: 45vw;
    padding-bottom: 5vw;
  
  }
  
  .writing-container {
    color: rgb(255, 239, 249);
    background-color: #1c1c1c;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .writing {
    padding: 1vw;
    padding-top: 2vw;
    padding-left: 3vw;
    max-width: 70vw;

  }

  .digital-container {
    color: rgb(255, 239, 249);
    background-color: #1c1c1c;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .digital2 {
    padding: 10vw;
    padding-top: 1vw;
    padding-bottom: 5vw;
    max-width: 70vw;
  }
img {
  max-width: 50vw;
  max-height: 100vw;
}

.footer-container {
  background-color: #1c1c1c;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.footer {
  border: none;
  height: 4vw;
  justify-content: center;
  padding: 5vw;
}

  
  h1 {
    font-size: 13vw;
    line-height: 13vw;
    color: rgb(255, 239, 249);
  }
  h2 {
    font-size: 4vw;
    line-height: 4vw;
    color:rgb(255, 127, 210);
  }
  h3 {
    font-size: 2vw;
    color: rgb(255, 239, 249);
  }
  h4 {
    font-size: 1.5vw;
    color:rgb(255, 239, 249);
  }
  p {
    line-height: 1.5vw;    
    margin-bottom: 1vw;
    color: rgb(255, 239, 249);
  }

a:link,
a:visited {
    color: rgb(255, 127, 210);
    text-decoration: none;
}
a:hover {
    color: rgb(255, 239, 249);
    text-decoration: none;
}
a:active {
    color: rgb(255, 239, 249);
}

ul {
    list-style-type: none;

 }